<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

  <!-- uncomment if you are embedding schema-repo into an app that makes heavy use of JUL
       and you desire to route it through SLF4J -->
  <!--contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/-->

  <jmxConfigurator/>

  
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level [%-40logger{40}] %message%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${schema-repo.logging.logdir:-logs}/${schema-repo.logging.filename:-schema-repo}.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${schema-repo.logging.filename}.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%-40logger{40}] %message [%thread] %n</pattern>
    </encoder>
  </appender>


  <logger name="org.apache.zookeeper.ClientCnxn" level="INFO" />

  <logger name="org.apache.http" level="INFO" />


  <root level="${schema-repo.logging.rootlevel:-INFO}">
    <appender-ref ref="ROLLING_FILE" />
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
